<header id="header" class="header js--match-height">
	<div class="header__inner outer">

	<a id="logo" class="header__logo logo c:text-color" href="/" title="{{ site:name }} | Home">
		{{ theme:output src="svg/saturn-logo.svg" }}
	</a> <!-- END header__logo -->

	<div class="filler"></div>

	<nav class="header__nav nav hide md:show">
	{{ nav:header }}

		<a class="nav__link link" href="{{ url }}" stealth {{ if is_current || is_parent }} active {{ endif }}>
			<span class="meta">{{ title }}</span>
		</a>
		
	{{ /nav:header }}
	</nav> <!-- END header__nav -->

	<div class="mar-l hide md:show">
		<a href="/documentation/" class="btn btn--stout shadow">
			<span class="meta">Docs</span>
		</a>
	</div>
	
	<button class="menu-button md:hide" toggle="menu">
		<div class="menu-button__bar"></div>
		<div class="menu-button__bar"></div>
		<div class="menu-button__bar"></div>
	</button> <!-- END menu-button -->
	
	<div id="menu" class="menu gutter js--modal">
		<div match-height="header"></div>
		<div class="menu__wrapper wrapper">
			<div class="menu__inner">
				<nav class="menu__nav">
				{{ nav }}

					<a class="menu__link link" href="{{ url }}" stealth {{ if is_current || is_parent }} active {{ endif }}>
						<span class="heading">{{ title }}</span>
					</a>
						
				{{ /nav }}
				</nav>

				{{ if site:phone or site:email }}
				<div class="spacer size-xl"></div>

				<div class="menu__nav size-sm">
					{{ if site:phone }}
					<a class="menu__link link" href="tel:{{ site:phone }}" stealth>
						<span class="icon">{{ theme:output src="svg/icon-hashtag.svg" }}</span>
						<span class="meta">Call us</span>
					</a>
					{{ /if }}
		
					{{ if site:email }}
					<a class="menu__link link" href="mailto:{{ site:email }}" stealth>
						<span class="icon">{{ theme:output src="svg/icon-at.svg" }}</span>
						<span class="meta">Email us</span>
					</a>
					{{ /if }}
				</div>
				{{ /if }}
			
			</div>
		</div>
	</div> <!-- END menu -->

	</div> <!-- END header__inner -->
</header> <!-- END #header -->