<header id="header" class="header">
	<div class="header__inner outer">

	<a id="logo" class="header__logo logo" href="/" title="{{ site:name }} | Home">
		{{ theme:output src="svg/saturn-logo.svg" }}
	</a> <!-- END header__logo -->

	<div class="filler"></div>

	<nav class="header__nav nav">
	{{ nav:header }}

		<a class="nav__link link" href="{{ url }}">
			<span class="meta meta-fix">{{ title }}</span>
		</a>
		
	{{ /nav:header }}
	</nav> <!-- END header__nav -->

	<div class="mar-l hide lg:show">
		<a href="/documentation" class="btn btn--stout">
			<span class="meta-fix">Docs</span>
		</a>
	</div>
	
	<button class="menu-button" toggle="menu">
		<span class="menu-button__bar"></span>
		<span class="menu-button__bar"></span>
		<span class="menu-button__bar"></span>
	</button> <!-- END menu-button -->
	
	<div id="menu" class="menu js--modal">
		<div class="menu__inner outer">
			<nav class="menu__nav">
			{{ nav }}

				<a class="menu__link link" href="{{ url }}">{{ title }}</a>
					
			{{ /nav }}

			{{ if site:phone }}
			<a class="menu__link link" href="tel:{{ site:phone }}">
				<span class="icon">{{ theme:output src="svg/icon-phone.svg" }}</span>
				<span class="text">{{ site:phone }}</span>
			</a>
			{{ /if }}

			{{ if site:email }}
			<a class="menu__link link" href="mailto:{{ site:email }}">
				<span class="icon">{{ theme:output src="svg/icon-at.svg" }}</span>
				<span class="text">Email Us</span>
			</a>
			{{ /if }}
			</nav>
		</div>
	</div> <!-- END menu -->

	</div> <!-- END header__inner -->
</header> <!-- END #header -->