/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENT: Rhythm
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.Rhythm p:not(:first-child) {
    margin-top: calc(var(--break-size) + var(--lhc-top));
    margin-bottom: var(--lhc-bottom);
}

.Rhythm h1,
.Rhythm h2,
.Rhythm h3,
.Rhythm h4,
.Rhythm h5,
.Rhythm h6 {
    margin-bottom: var(--lhc-bottom);
}

.Rhythm h1:first-child,
.Rhythm h2:first-child,
.Rhythm h3:first-child,
.Rhythm h4:first-child,
.Rhythm h5:first-child,
.Rhythm h6:first-child {
    margin-top: var(--lhc-top);
}

.Rhythm h1:not(:first-child),
.Rhythm h2:not(:first-child),
.Rhythm h3:not(:first-child),
.Rhythm h4:not(:first-child),
.Rhythm h5:not(:first-child),
.Rhythm h6:not(:first-child) {
    margin-top: calc(1.6em + var(--lhc-top));
}

.Rhythm h1 + p:not(:first-child),
.Rhythm h2 + p:not(:first-child),
.Rhythm h3 + p:not(:first-child),
.Rhythm h4 + p:not(:first-child),
.Rhythm h5 + p:not(:first-child),
.Rhythm h6 + p:not(:first-child) {
    margin-top: calc(1em + var(--lhc-top));
}

.Rhythm ul:not(:first-child),
.Rhythm ol:not(:first-child) {
    margin-top: calc(var(--break-size) + var(--lhc-top));
    margin-bottom: var(--lhc-bottom);
}

.Rhythm blockquote:not(:first-child) {
    margin-top: var(--break-size);
}

.Rhythm blockquote > cite {
    margin: 0.8em 0 0;
}

.Rhythm blockquote > p {
    margin-top: var(--lhc-top);
    margin-bottom: var(--lhc-bottom);
}

.Rhythm .Rhythm__block:not(:first-child) {
    margin-top: var(--break-size);
}
