<nav class="nav nav--v">
{{ nav:documentation }}
  <div class="col align-l">

    <a class="nav__link link" href="{{ url }}" stealth {{ if is_current || is_parent }} active {{ endif }}>
      <span class="meta">{{ title }}</span>
    </a>

    {{ children }}
      <a class="nav__link link mar-l" href="{{ url }}" stealth {{ if is_current || is_parent }} active {{ endif }}>
        <span class="meta">{{ title }}</span>
      </a>
    {{ /children }}

  </div>

  {{ if not last }}
  <hr class="break" />
  {{ /if }}
{{ /nav:documentation }}
</nav>