<div class="masonry size-lg" style="max-width: 5.01em;">

  <div class="triangle"></div>
  <div class="triangle"></div>
  <div class="triangle triangle--t"></div>
  <div class="triangle"></div>
  <div class="triangle"></div>

  <div class="triangle"></div>
  <div class="triangle triangle--t-l"></div>
  <div class="triangle"></div>
  <div class="triangle triangle--t-r"></div>
  <div class="triangle"></div>

  <div class="triangle triangle--l"></div>
  <div class="triangle"></div>
  <div class="triangle"></div>
  <div class="triangle"></div>
  <div class="triangle triangle--r"></div>

  <div class="triangle"></div>
  <div class="triangle triangle--b-l"></div>
  <div class="triangle"></div>
  <div class="triangle triangle--b-r"></div>
  <div class="triangle"></div>

  <div class="triangle"></div>
  <div class="triangle"></div>
  <div class="triangle triangle--b"></div>
  <div class="triangle"></div>
  <div class="triangle"></div>

</div>
