<div class="masonry size-lg" style="max-width: 5.01em;">

  <div class="triangle"></div>
  <div class="triangle"></div>
  <div class="triangle triangle--north"></div>
  <div class="triangle"></div>
  <div class="triangle"></div>

  <div class="triangle"></div>
  <div class="triangle triangle--north-west"></div>
  <div class="triangle"></div>
  <div class="triangle triangle--north-east"></div>
  <div class="triangle"></div>

  <div class="triangle triangle--west"></div>
  <div class="triangle"></div>
  <div class="triangle"></div>
  <div class="triangle"></div>
  <div class="triangle triangle--east"></div>

  <div class="triangle"></div>
  <div class="triangle triangle--south-west"></div>
  <div class="triangle"></div>
  <div class="triangle triangle--south-east"></div>
  <div class="triangle"></div>

  <div class="triangle"></div>
  <div class="triangle"></div>
  <div class="triangle triangle--south"></div>
  <div class="triangle"></div>
  <div class="triangle"></div>

</div>
