/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| UTILITY: Backgrounds
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

[background] {
  display: block;
  position: relative;
  width: 100%;

  // before is reserved for color overlays
  &::before {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
  }

  // after is reserved for ratios and height
  &::after {
    display: block;
    content: '';
  }
}


/* === BACKGROUND OVERLAYS === */
[background*="lighter"]::before {
  background-color: white;
  opacity: 0.5;
}

[background*="lighten"]::before {
  background-color: white;
  opacity: 0.3;
}

[background*="darken"]::before {
  background-color: black;
  opacity: 0.3;
}

[background*="darker"]::before {
  background-color: black;
  opacity: 0.5;
}

[background*="colorize"]::before {
  background-color: currentColor;
  opacity: 0.3;
}


/* === BACKGROUND RATIOS === */
[background*="1:1"]::after {
  padding-top: 100%;
}

[background*="4:3"]::after {
  padding-top: 75%;
}

[background*="3:4"]::after {
  padding-top: 133.333333%;
}

[background*="16:9"]::after {
  padding-top: 56.25%;
}

[background*="9:16"]::after {
  padding-top: 177.777777%;
}

[background*="21:9"]::after {
  padding-top: 42.8571%;
}


/* === BACKGROUND IMAGE === */
[background*="image"] {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* === BACKGROUND COLORS === */
[background*="currentColor"] {
  background-color: currentColor;
}

/* === BACKGROUND ELEMENTS === */

.bg-element {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}