/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| BASE: Dividers
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/


/* === line === */
hr,
.line {
  clear: both;
  margin: 0;
  border: unset;
  width: 100%;
  height: 2px;
  background-color: currentColor;
}

/* === line-break === */
br {
  clear: both;
  display: inline-block;
  width: 0;
  height: 1em;
  line-height: inherit;
}


/* === FILLER === */
// This is used as a sibling element inside a flex element to fill empty space
.filler {
  display: block;
  flex: 1 1 auto;
  content: '';
}
// This is for an element you want to fill the space between others
.fill {
  flex: 1 1 auto;
}



/* === BREAK === */
.break {
  min-width: 100%;
  padding-top: $space;
  content: '';
}



/* === SPACE === */
.space {
  min-height: 100%;
  padding-left: $space;
  content: '';
}



/* === GAP === */
.gap {
  padding-top: $space;
  padding-left: $space;
}

@include makeAll( gap, padding-top padding-left, $spacing );

@include addBreakpoints() {
  &gap {
    padding-top: $space;
    padding-left: $space;
  }
  
  @include makeAllForBreakpoints( gap, padding-top padding-left, $spacing );
}