/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| BASE: Dividers
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

/* === FILLER === */
// This is for an element you want to fill the space between others
.fill {
  flex: 1 1 auto;
}
// This is used as a sibling element inside a flex element to fill empty space
.filler {
  display: block;
  flex: 1 1 auto;
  content: '';
}

/* === BREAK === */
.break {
  min-width: 100%;
  padding-top: 1em;
  content: '';
}

/* === SPACE === */
.space {
  min-height: 100%;
  padding-left: 1em;
  content: '';
}

/* === SPACER === */
.spacer {
  display: inline-block;
  max-width: 1em;
  max-height: 1em;
  padding-top: 1em;
  padding-left: 1em;
}