/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| BASE: Fields 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

form {
  display: block;
}

label[for] {
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  display: block;
  margin: 0;
  outline: none;
  width: 100%;
  font-size: inherit;
  cursor: text;
}

input[readonly] {
  cursor: default;
}

input[type="number"] {
  -moz-appearance: textfield;
      
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type="color"] {
  display: inline-block;
  cursor: pointer;
}

input[type="checkbox"] {
  display: inline-block;
  width: unset;
  vertical-align: middle;
  cursor: pointer;
}

input[type="radio"] {
  display: inline-block;
  width: unset;
  vertical-align: middle;
  cursor: pointer;
}

input[type="range"] {
  display: inline-block;
  cursor: pointer;
}

input[type="file"] {
  display: block;
  cursor: pointer;
}

.input {
  $self: &;
  display: block;
  flex: 0 0 auto;
  margin: 0;
  outline: none;
  box-shadow: none;
  border: $border;
  border-radius: $round;
  background-color: $contrast;
  width: 100%;
  height: $btn_height;
  padding: 0 0.8em;
  line-height: 1;
  font-size: inherit;
  color: $text_color;
  transition: border-color 300ms ease,
              background-color 300ms ease,
              color 300ms ease;

  &::placeholder {
    opacity: 0.3;
    color: inherit;
  }

  &:focus,
  &:active {
    border-color: $link_color;
    background-color: $contrast;
  }

  &[readonly] {
    border-color: $border_color !important;
    background-color: $contrast !important;
  }

  &[stealth] {
    border-color: transparent;
    background-color: transparent;
    transition: border-color 300ms ease,
                background-color 300ms ease,
                padding 300ms ease,
                color 300ms ease;

    &::placeholder {
      opacity: 1;
    }

    &:not(:focus) {
      padding: 0;
    }

    &:focus,
    &:active {
      border-color: $link_color;
      background-color: $contrast;

      &::placeholder {
        opacity: 0.3;
      }
    }

    &[readonly] {
      border-color: transparent !important;
      background-color: transparent !important;

      &::placeholder {
        opacity: 1 !important;
      }
    }
  }

  &--tall {
    border-width: 2px;
    height: $btn_tall_height;
  }

  &--thin {
    border-width: 1px;
    height: $btn_thin_height;
  }
}

textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  font-size: inherit;
  cursor: text;
}

.textarea {
  max-width: 100%;
  height: 12em;
  resize: vertical;
  line-height: 1.4;
}

fieldset {
  display: block;
}

.fieldset {
  display: block;
  border: $border;
  border-radius: $round;
  background-color: $contrast;
}

legend {
  padding: 0 0.4em;
  margin: 0 -0.4em;
}

.legend {
  padding: 0 0.4em;
  margin: 0 -0.4em;
}
