/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| BASE: Body
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: 1px solid blueviolet; */
}

[hidden] {
  display: none !important;
}

[scroll-lock] {
  overflow: hidden !important;
}

html {
  @include fluid-rule(font-size, $min_width, $max_width, $font_min, $font_max);
}

body {
  margin: 0;
  overflow-x: clip;
  overflow-y: auto;
  background-color: $background_color;
  line-height: 1;
  font-size: 1rem;
  font-weight: normal;
  font-family: $copy_font;
  text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  color: $text_color;

  // Firefox only
  scroll-behavior: smooth;

  // Remove scollbar
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

#site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: block;
}

#header {
  position: relative;
  z-index: 3;
}

main {
  display: block;
}

#main {
  position: relative;
  z-index: 2;
  flex: 1 0 auto;
}

section {
  display: block;
}

footer {
  display: block;
}

#footer {
  position: relative;
  z-index: 1;
}