/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| BASE: Media
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

figure {
  display: block;
  margin: 0;
}

svg {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

video {
  display: block;
  max-width: 100%;
  height: auto;
}