/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| BASE: Media
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

figure {
  display: block;
  margin: 0;
}

video, img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  width: 100%;
}