/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| BASE: Media
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

figure {
  display: block;
  margin: 0;
}

svg {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

video {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 1em;
  max-height: 1em;

  svg {
    max-width: inherit;
    max-height: inherit;
  }
}

.fa {
  display: block;
}

.fa-plus {
  margin: 0.1em 0 0 0.1em;
}
