
//––––––––––––––––––––––––––––––––––––––––––––––––––
// Variables: COLOR
//––––––––––––––––––––––––––––––––––––––––––––––––––

// common
$true_red:          #FF0000;
$true_orange:       #FF8000;
$true_yellow:       #FFFF00;
$true_chartreuse:   #80FF00;
$true_green:        #00FF00;
$true_jade:         #00FF80;
$true_cyan:         #00FFFF;
$true_azure:        #0080FF;
$true_blue:         #0000FF;
$true_purple:       #8000FF;
$true_magenta:      #FF00FF;
$true_fuchsia:      #FF0080;

// grey shades
$white:             #ffffff;
$off_white:         #f8f8f8;
$light:             #eeeeee;
$light_grey:        #c0c0c0;
$grey:              #808080;
$dark_grey:         #404040;
$dark:              #333333;
$off_black:         #202020;
$black:             #000000;

// social media colors
$facebook:          #3b5998;
$instagram:         #bc2a8d;
$linkedin:          #0077b5;
$periscope:         #d75444;
$pinterest:         #c8232c;
$soundcloud:        #FF5401;
$twitter:           #1da1f2;
$vimeo:             #1ab7ea;
$youtube:           #bb0000;

// site specific
$azure:             #0080ff;
$royal_purple:      #c000ff;
$fuchsia:           #ff0080;
$starburst:         #ff0040;
$lava_orange:       #ff4000;
$neon_yellow:       #c0ff00;
$jade:              #00ff80;
$sea_foam:          #00ffc0;

// site dynamic
$dark_100:          #282a30;
$dark_200:          #202228;
$dark_400:          #181a20;
$dark_600:          #101218;
$dark_800:          #080a10;

$light_100:         #ffffff;
$light_200:         #f8f8f8;
$light_400:         #eeeeee;
$light_600:         #e8e8e8;
$light_800:         #dddddd;


////////////////////////////
// Variables for all the colors
// This should just be a one to one of the css vars

// Branding
$primary:           var(--primary);
$accent:            var(--accent);

// Theme
$dark:              var(--dark);
$light:             var(--light);

// Background
$background_color:  var(--background-color);
$background_200:    var(--background-200);
$background_400:    var(--background-400);
$background_600:    var(--background-600);
$background_800:    var(--background-800);
$contrast:          var(--contrast);

// Border
$border_color:      var(--border-color);

// Text
$text_color:        var(--text-color);
$text_color_alt:    var(--text-color-alt);
$text_color_off:    var(--text-color-off);
$heading_color:     var(--heading-color);

// Links
$link_color:        var(--link-color);
$link_hover:        var(--link-hover);
$link_active:       var(--link-active);

// default color theme
:root {
  --dark:              #{$dark_100};
  --light:             #{$light_200};
  --background-color:  #{$dark_100};
  --background-200:    #{$dark_200};
  --background-400:    #{$dark_400};
  --background-600:    #{$dark_600};
  --background-800:    #{$dark_800};
  --contrast:          #{$background_200};
  --primary:           #{$fuchsia};
  --accent:            #{$sea_foam};
  --border-color:      #{$background_400};
  --text-color:        #{$light};
  --text-color-off:    #{$grey};
  --text-color-alt:    #{$lava_orange};
  --heading-color:     #{$primary};
  --link-color:        #{$accent};
  --link-hover:        #{$azure};
  --link-active:       #{$royal_purple};
}

// light color theme
.light-theme {
  --background-color:  #{$light_100};
  --background-200:    #{$light_200};
  --background-400:    #{$light_400};
  --background-600:    #{$light_600};
  --background-800:    #{$light_800};
  --contrast:          #{$background_200};
  --border-color:      #{$background_400};
  --text-color:        #{$dark};
}


$theme_colors: (
  // Branding
  primary:           $primary,
  accent:            $accent,

  // Theme
  dark:              $dark,
  light:             $light,

  // Background
  background-color:  $background_color,
  background-200:    $background_200,
  background-400:    $background_400,
  background-600:    $background_600,
  background-800:    $background_800,
  contrast:          $contrast,

  // Border
  border-color:      $border_color,

  // Text
  text-color:        $text_color,
  text-color-alt:    $text_color_alt,
  text-color-off:    $text_color_off,
  heading-color:     $heading_color,

  // Links
  link-color:        $link_color,
  link-hover:        $link_hover,
  link-active:       $link_active,
);



//––––––––––––––––––––––––––––––––––––––––––––––––––
// Variables: TYPOGRAPHY
//––––––––––––––––––––––––––––––––––––––––––––––––––

@import url('https://fonts.googleapis.com/css?family=Overpass|Overpass+Mono:wght@300;500;700;|Kanit:wght@300;500;700&display=swap');

// FONT FAM

// default
$default_serif:         Times, serif;
$default_sans_serif:    Arial, sans-serif;

// site fonts
$kanit:             'Kanit', $default_serif;
$overpass:          'Overpass', $default_sans_serif;
$overpass_mono:     'Overpass Mono', monospace;

// dynamic fonts
$serif:             $kanit;
$sans_serif:        $overpass;
$monospace:         $overpass_mono;

// site dynamic fonts
$copy_font:         $overpass;
$heading_font:      $kanit;
$meta_font:         $overpass_mono;

// FONT SIZE
$font_min:          16px;
$font_max:          20px;

// HEADINGS
$headings: (
  h1: (
    size: 3.6rem,
    color: $heading_color,
  ),
  h2: (
    size: 2.4rem,
    color: $heading_color,
  ),
  h3: (
    size: 2.0rem,
    color: $heading_color,
  ),
  h4: (
    size: 1.6rem,
    color: $heading_color,
  ),
  h5: (
    size: 1.6rem,
    color: $text_color_alt,
  ),
  h6: (
    size: 1.6rem,
    color: $text_color_off,
  ),
);



//––––––––––––––––––––––––––––––––––––––––––––––––––
// Variables: WIDTH
//––––––––––––––––––––––––––––––––––––––––––––––––––

//////////////////////////
// RESPONSIVE
$mobile:           480px;
$tablet:           768px;
$desktop:          1024px;

$breakpoints: (
  sm:             $mobile,
  md:             $tablet,
  lg:             $desktop,
);

//////////////////////////
// WIDTH

// base structure
$min_width:       480px;
$max_width:       1600px;

// main containers
$copy_max:        36rem;
$inner:           $copy_max;

$content_max:     64rem;
$wrapper:         $content_max;

$site_max:        80rem;
$outer:           $site_max;

// utility
$max_widths: (
  120:            6rem,
  240:            12rem,
  360:            18rem,
  480:            24rem,
  720:            36rem,
  1080:           54rem,
  1280:           64rem,
  1600:           80rem,
);

$widths: (
  20:             20%,
  40:             40%,
  60:             60%,
  80:             80%,
  100:            100%,
);

// the number is for x out of twelve
$columns: (
  1:              #{ (1 / 12) * 100 + '%'},
  2:              #{ (2 / 12) * 100 + '%'},
  3:              #{ (3 / 12) * 100 + '%'},
  4:              #{ (4 / 12) * 100 + '%'},
  5:              #{ (5 / 12) * 100 + '%'},
  6:              #{ (6 / 12) * 100 + '%'},
  7:              #{ (7 / 12) * 100 + '%'},
  8:              #{ (8 / 12) * 100 + '%'},
  9:              #{ (9 / 12) * 100 + '%'},
  10:             #{(10 / 12) * 100 + '%'},
  11:             #{(11 / 12) * 100 + '%'},
  12:             #{(12 / 12) * 100 + '%'},
);



//––––––––––––––––––––––––––––––––––––––––––––––––––
// Variables: WHITESPACE
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Mobile horizontal space
$horz_space_min:    32px;
// Desktop horizontal space
$horz_space_max:    64px;

// Mobile vertical space
$vert_space_min:    64px;
// Desktop vertical space
$vert_space_max:    96px;

// default
$space:             var(--space);
$space_xxs:         var(--space-xxs);
$space_xs:          var(--space-xs);
$space_sm:          var(--space-sm);
$space_md:          var(--space-md);
$space_lg:          var(--space-lg);
$space_xl:          var(--space-xl);
$space_xxl:         var(--space-xxl);

// utility
// the most common spacing amounts
$spacing: (
  0:                0,
  xxs:              $space_xxs,
  xs:               $space_xs,
  sm:               $space_sm,
  md:               $space_md,
  lg:               $space_lg,
  xl:               $space_xl,
  xxl:              $space_xxl,
);

:root {
  --horz-space-min:    32px;
  --horz-space-max:    64px;
  --vert-space-min:    64px;
  --vert-space-max:    96px;
  --space:             1em;
  --space-xxs:         0.4rem;
  --space-xs:          0.8rem;
  --space-sm:          1.2rem;
  --space-md:          1.6rem;
  --space-lg:          2.4rem;
  --space-xl:          3.2rem;
  --space-xxl:         6.4rem;
}



//––––––––––––––––––––––––––––––––––––––––––––––––––
// Variables: INPUTS
//––––––––––––––––––––––––––––––––––––––––––––––––––

:root {
  --btn-tall-height: 2.8em;
  --btn-height:      2.2em;
  --btn-slim-height: 1.6em;
}

$btn_tall_height:    var(--btn-tall-height);
$btn_height:         var(--btn-height);
$btn_thin_height:    var(--btn-slim-height);



//––––––––––––––––––––––––––––––––––––––––––––––––––
// Variables: OTHER
//––––––––––––––––––––––––––––––––––––––––––––––––––

// BORDER RADIUS
$round:             2px;
$rounder:           4px;

// SHADOW
$shadow_in:         0px 3px 10px 0px rgba(0,0,0,0.25) inset;
$shadow_down:       0px 3px 10px 0px rgba(0,0,0,0.25);
$shadow:            0px 7px 10px 0px rgba(0,0,0,0.25);
$shadow_up:         0px 10px 18px 3px rgba(0,0,0,0.25);

// BORDER
$border:            2px solid $border_color;
