/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Layout 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

/* === Row === */
@mixin class-row {
  display: flex;
  flex-direction: row;

  &-t {
    align-items: flex-start;
  }
  &-r {
    justify-content: flex-end;
  }
  &-b {
    align-items: flex-end;
  }
  &-l {
    justify-content: flex-start;
  }
  &-v {
    align-items: center;
  }
  &-h {
    justify-content: center;
  }
}

/* === Columns === */
@mixin class-col {
  display: flex;
  flex-direction: column;

  &-t {
    justify-content: flex-start;
  }
  &-r {
    align-items: flex-end;
  }
  &-b {
    justify-content: flex-end;
  }
  &-l {
    align-items: flex-start;
  }
  &-v {
    justify-content: center;
  }
  &-h {
    align-items: center;
  }
}
