/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Layout 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/


/* === Row === */
@mixin class-row {
  display: flex;
  flex-direction: row;
  justify-content: var(--h-align);
  align-content: var(--v-align);
  align-items: var(--v-align);
  --v-align: stretch;
  --h-align: flex-start;
}

.row {
  @include class-row;
}


/* === Columns === */
@mixin class-col {
  display: flex;
  flex-direction: column;
  justify-content: var(--v-align);
  align-content: var(--h-align);
  align-items: var(--h-align);
  --v-align: flex-start;
  --h-align: stretch;
}

.col {
  @include class-col;
}


/* === Align === */
@mixin class-align {
  &-t {
    --v-align: flex-start;
  }
  &-r {
    --h-align: flex-end;
  }
  &-b {
    --v-align: flex-end;
  }
  &-l {
    --h-align: flex-start;
  }
  &-m {
    --v-align: center;
  }
  &-c {
    --h-align: center;
  }
}

.align {
  @include class-align;
}


/* === Layout Breakpoints === */
@include add-breakpoint-prefixes() {
  &row {
    @include class-row;
  }

  &col {
    @include class-col;
  }

  &align {
    @include class-align;
  }
}
