/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Layout
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/


/* === Row === */
@mixin class-row {
  display: flex !important;
  flex-direction: row;
  justify-content: var(--h-justify);
  align-content: var(--v-justify);
  align-items: var(--v-align);
}

.row {
  @include class-row;
  --v-align: stretch;
  --h-align: flex-start;
  --v-justify: var(--v-align);
  --h-justify: var(--h-align);
}


/* === Columns === */
@mixin class-col {
  display: flex !important;
  flex-direction: column;
  justify-content: var(--v-justify);
  align-content: var(--h-justify);
  align-items: var(--h-align);
}

.col {
  @include class-col;
  --v-align: flex-start;
  --h-align: stretch;
  --v-justify: var(--v-align);
  --h-justify: var(--h-align);
}


/* === Align === */
@mixin class-align {
  &-t {
    --v-align: flex-start;
  }
  &-r {
    --h-align: flex-end;
  }
  &-b {
    --v-align: flex-end;
  }
  &-l {
    --h-align: flex-start;
  }
  &-m {
    --v-align: center;
  }
  &-c {
    --h-align: center;
  }
}

.align {
  @include class-align;
}


/* === Justify === */
@mixin class-justify {
  &-v-stretch {
    --v-justify: stretch;
  }
  &-h-stretch {
    --h-justify: stretch;
  }
  &-v-between {
    --v-justify: space-between;
  }
  &-h-between {
    --h-justify: space-between;
  }
  &-v-around {
    --v-justify: space-around;
  }
  &-h-around {
    --h-justify: space-around;
  }
  &-v-evenly {
    --v-justify: space-evenly;
  }
  &-h-evenly {
    --h-justify: space-evenly;
  }
}

.justify {
  @include class-justify;
}


/* === Layout Breakpoints === */
@include add-breakpoint-prefixes() {
  &row {
    @include class-row;
  }

  &col {
    @include class-col;
  }

  &align {
    @include class-align;
  }

  &justify {
    @include class-justify;
  }
}
