/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Bard
|––––––––––––––––––––––––––––––––––––––––––––––––––
|
| Layout and styles for anthing built within the bard.
|
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.bard {
  $bard_outer: $content_max;
  $bard_inner: $copy_max;
  $half_bard_outer: $bard_outer / 2;
  $bard_space: map-get($spacing, "md");
  $bard_space_lg: map-get($spacing, "xl");

  // display block so margins will collapse
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  max-width: $bard_outer;

  &__block {
    display: block;
    margin: $bard_space auto;
    width: 100%;
    max-width: $bard_inner;
    
    &:first-child {
      margin-top: 0;
    }
    
    &:last-child {
      margin-top: 0;
    }
  }

  &--dropcap &__block {
    // Dropcap for first paragraph in a bard
    &:first-child > p:first-child::first-letter {
      float: left;
      margin: 0;
      padding: 0.15em 0.2em 0 0;
      font-family: $heading_font;
      font-size: 3.3rem;
      line-height: 2rem;
    }
  }

  // headins
  h1, h2, h3, h4, h5, h6 {
    margin-top: 2em;

    &:first-child {
      margin-top: 0;
    }

    & + p {
      margin-top: 0.6rem;
    }

    + {
      h1, h2, h3, h4, h5, h6 {
        margin: 0.4em 0;
      }
    }
  }

  // horizontal row
  hr {
    margin: $bard_space_lg auto;
    width: 80%;
    max-width: calc(#{$bard_inner} * 0.8);
  }

  hr + {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
    }
  }
      
  /* === Alignment === */
  &__left,
  &__right {
    float: none;
    width: 100%;
    max-width: $bard_inner;
  }

  &__center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: unset;
  }

  &__wide {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: $bard_outer;
  }

  &__full {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    max-width: unset;
  }

  @include above( sm ) {
    &__center {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      max-width: calc(#{$bard_inner} * 0.8);
    }

    &__left,
    &__right {
      margin-top: 0.3rem;
      margin-bottom: 1rem;
      width: 50%;
      max-width: $half_bard_outer;
    }

    &__left {
      float: left;
      margin-left: unset;
      margin-right: $bard_space;
    }
  
    &__right {
      float: right;
      margin-left: $bard_space;
      margin-right: unset;
    }
  }
}
