/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Excerpt
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.card {
  $self: &;
  display: block;
  box-shadow: $shadow;
  border-radius: $round;
  background: $contrast;
  overflow: hidden;
}
