/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Site Header 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

/* ===== VARIABLES ===== */

$header_padding: 1rem;
$header_logo_height: 5rem;
$header_height: $header_padding + $header_logo_height;



/* ===== LAYOUT ===== */

.header {
  background-color: transparent;
  width: 100vw;
  padding: $header_padding;
  color: $text_color;

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
  }

  // The logo height is how the header's whole size is determined, width will be automatically set.
  &__logo {
    position: relative;
    z-index: 3;
    margin: -1.2rem 0;
    color: $white;
  }

  &__nav {
    position: relative;
    z-index: 1;
    display: flex;
  
    .link {
      color: inherit;
      transition: color 300ms ease-in-out;
  
      &:hover,
      &:active {
        color: $link_hover;
      }
    }
  }

  .menu-button {
    position: relative;
    z-index: 99;
  }

  @include below( lg ) {
    &__nav {
      display: none;
    }
  }

  @include above( lg ) {
    .menu-button {
      display: none;
    }
  }
}

/* ===== COMPONENTS ===== */
.logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: auto;
  height: $header_logo_height;

  svg {
    width: 100%;
    height: inherit;
  }
}