/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| UTILITY: masonry 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/



/*
|–––––––––––––––––––––––––
| Masonry
|–––––––––––––––––––––––––
*/

.masonry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@include add-breakpoint-prefixes() {
  &masonry {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}



/*
|–––––––––––––––––––––––––
| Grout
|–––––––––––––––––––––––––
*/

$grout_space: var(--grout-space);

.grout {
  --grout-space: #{$space};
  margin: calc(-1 * (#{$grout_space} / 2));

  & > * {
    padding: calc(#{$grout_space} / 2);
  }
}

@include make-classes-from-list( 'grout', --grout-space, $spacing );

@include add-breakpoint-prefixes() {
  &grout {
    --grout-space: #{$space};
  }

  @include make-classes-for-breakpoints( 'grout', --grout-space, $spacing );
}



/*
|–––––––––––––––––––––––––
| Tile
|–––––––––––––––––––––––––
*/

$tile_width: var(--tile-width);

.tile {
  --tile-width: unset;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: $tile_width;
  width: $tile_width;
}

@include make-classes-from-list( 'tile', --tile-width, $columns );

.tile-auto {
  --tile-width: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

@include add-breakpoint-prefixes() {
  &tile {
    --tile-width: unset;
    flex-grow: 0;
    flex-shrink: 0;
  }

  @include make-classes-for-breakpoints( 'tile', --tile-width, $columns );

  &tile-auto {
    --tile-width: auto;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
