/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| UTILITY: masonry 
|––––––––––––––––––––––––––––––––––––––––––––––––––

.masonry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.grout {
  margin: -0.8rem;
}
.grout > * {
  padding: 0.8rem;
}

.tile {
  flex: 0 0 auto;
  width: auto;
}
.tile-3 {
  flex: 1 1 25%;
  max-width: 25%;
}
.tile-4 {
  flex: 1 1 33.3333%;
  max-width: 33.3333%;
}
.tile-12 {
  flex: 1 1 100%;
  max-width: 100%;
}

*/


/*
|–––––––––––––––––––––––––
| Masonry
|–––––––––––––––––––––––––
*/

.masonry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@include add-breakpoint-prefixes() {
  &masonry {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}


/*
|–––––––––––––––––––––––––
| Grout
|–––––––––––––––––––––––––
*/

@include make-class-with-breakpoint-prefixes( 'grout' ) {
  margin: calc(-1 * (#{$space} / 2));

  & > * {
    padding: calc(#{$space} / 2);
  }
}

@mixin makeGroutClasses( $array ) {
  @each $key, $value in $array {
    .grout-#{$key} {
      margin: calc(-1 * (#{$value} / 2));

      & > * {
        padding: calc(#{$value} / 2);
      }
    }
  }
}

@include makeGroutClasses( $spacing );


/*
|–––––––––––––––––––––––––
| Tile
|–––––––––––––––––––––––––
*/

.tile {
  flex: 0 0 auto;
  width: auto;
}

@mixin makeTileClasses( $array ) {
  @each $key, $value in $array {
    .tile-#{$key} {
      flex: 1 1 $value;
      max-width: $value;
    }
  }
  @each $point, $width in $breakpoints {
    @media ( min-width: #{$width} ) {
      .#{$point}\: {
        @each $key, $value in $array {
          &tile-#{$key} {
            flex: 1 1 $value;
            max-width: $value;
          }
        }
      }
    }
  }
}

@include makeTileClasses( $columns );
