<div class="social-icons">

	{{ if site:facebook }}
	<a class="social-icons__link icon-facebook" href="{{ site:facebook }}" target="_blank">
		{{ theme:output src="svg/icon-facebook-square.svg" }}
	</a>
	{{ /if }}

	{{ if site:instagram }}
	<a class="social-icons__link icon-instagram" href="{{ site:instagram }}" target="_blank">
		{{ theme:output src="svg/icon-instagram.svg" }}
	</a>
	{{ /if }}

	{{ if site:linkedin }}
	<a class="social-icons__link icon-linkedin" href="{{ site:linkedin }}" target="_blank">
		{{ theme:output src="svg/icon-linkedin.svg" }}
	</a>
	{{ /if }}

	{{ if site:pinterest }}
	<a class="social-icons__link icon-pinterest" href="{{ site:pinterest }}" target="_blank">
		{{ theme:output src="svg/icon-pinterest.svg" }}
	</a>
	{{ /if }}

	{{ if site:soundcloud }}
	<a class="social-icons__link icon-soundcloud" href="{{ site:soundcloud }}" target="_blank">
		{{ theme:output src="svg/icon-soundcloud.svg" }}
	</a>
	{{ /if }}

	{{ if site:twitter }}
	<a class="social-icons__link icon-twitter" href="{{ site:twitter }}" target="_blank">
		{{ theme:output src="svg/icon-twitter.svg" }}
	</a>
	{{ /if }}

	{{ if site:vimeo }}
	<a class="social-icons__link icon-vimeo" href="{{ site:vimeo }}" target="_blank">
		{{ theme:output src="svg/icon-vimeo.svg" }}
	</a>
	{{ /if }}

	{{ if site:youtube }}
	<a class="social-icons__link icon-youtube" href="{{ site:youtube }}" target="_blank">
		{{ theme:output src="svg/icon-youtube.svg" }}
	</a>
	{{ /if }}

</div>