/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| Utilities: Misc
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/


[hidden] {
    visibility: hidden;
    opacity: 0;
    width: 1px;
    height: 1px;
}

[visually-hidden] {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

[hide-scrollbar] {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
[hide-scrollbar]::-webkit-scrollbar {
    display: none;
}

[show-target] :target {
    outline: 3px solid var(--theme-primary);
    outline-offset: 3px;
}

[show-selection] ::selection {
    background-color: hsl(220 100% 75% / 0.7);
}
