{{ partial src="banners/_banner" }}

{{ collection from="blog" limit="2" paginate="true" as="posts" sort="date:desc" }}
<section class="frame outer gutter archive">
	<div class="inner column">

		{{ if no_results }}
		<h3>More posts coming soon!</h3>
		{{ /if }}

		<div class="masonry grout-xl">
		{{ posts }}

			<article class="tile tile-12">
				<a href="{{ url }}" class="card card:hover row">
					<div class="column fill pad">
						<h3 class="card__text h4">{{ title }}</h3>
						<div class="mar-t-xs">{{ intro }}</div>
					</div>
					<div class="w-100" style="max-width: 8rem;">
						<div background="image 1:1" style="background-image: url('{{ featured_image }}');"></div>
					</div>
				</a>
			</article>

		{{ /posts }}
		</div>

		{{ if paginate:total_pages > 1 }}
		<div class="frame frame--top">
			{{ partial src="_pagination" }}
		</div>
		{{ /if }}

	</div>
</section> <!-- END {{ mount }} -->
{{ /collection }}