/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| UTILITY: Layout 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

/* show */
.show {
  display: initial;
}

/* hide */
.hide {
  display: none;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

/* === Flex === */
.flex {
  display: flex;
}

/* === Justify === */
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}

/* === Align Items === */
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-stretch {
  align-items: stretch;
}
.items-baseline {
  align-items: baseline;
}

/* === Align Content === */
.content-start {
  align-content: flex-start;
}
.content-end {
  align-content: flex-end;
}
.content-center {
  align-content: center;
}
.content-between {
  align-content: space-between;
}
.content-around {
  align-content: space-around;
}
.content-evenly {
  align-content: space-evenly;
}

/* === Flex Row === */
.row {
  display: flex;
  flex-direction: row;

  &-reverse {
    flex-direction: row-reverse;
  }

  &-t {
    align-items: flex-start;
  }
  &-r {
    justify-content: flex-end;
  }
  &-b {
    align-items: flex-end;
  }
  &-l {
    justify-content: flex-start;
  }

  &-h {
    justify-content: center;
  }
  &-v {
    align-items: center;
  }
}

/* === Flex Columns === */
.col {
  display: flex;
  flex-direction: column;

  &-reverse {
    flex-direction: column-reverse;
  }

  &-t {
    justify-content: flex-start;
  }
  &-r {
    align-items: flex-end;
  }
  &-b {
    justify-content: flex-end;
  }
  &-l {
    align-items: flex-start;
  }

  &-h {
    align-items: center;
  }
  &-v {
    justify-content: center;
  }
}

@include add-breakpoint-prefixes() {
  // show & hide
  &show {
    display: initial;
  }
  &hide {
    display: none;
  }

  // display
  &block {
    display: block;
  }
  &inline {
    display: inline;
  }
  &inline-block {
    display: inline-block;
  }
  &inline-flex {
    display: inline-flex;
  }

  // Flex
  &flex {
    display: flex;
  }

  // Justify
  &justify-start {
    justify-content: flex-start;
  }
  &justify-end {
    justify-content: flex-end;
  }
  &justify-center {
    justify-content: center;
  }
  &justify-between {
    justify-content: space-between;
  }
  &justify-around {
    justify-content: space-around;
  }
  &justify-evenly {
    justify-content: space-evenly;
  }

  // Align Item
  &items-start {
    align-items: flex-start;
  }
  &items-end {
    align-items: flex-end;
  }
  &items-center {
    align-items: center;
  }
  &items-stretch {
    align-items: stretch;
  }
  &items-baseline {
    align-items: baseline;
  }

  // Align Content
  &content-start {
    align-content: flex-start;
  }
  &content-end {
    align-content: flex-end;
  }
  &content-center {
    align-content: center;
  }
  &content-between {
    align-content: space-between;
  }
  &content-around {
    align-content: space-around;
  }
  &content-evenly {
    align-content: space-evenly;
  }

  // Flex Row
  &row {
    display: flex;
    flex-direction: row;

    &-reverse {
      flex-direction: row-reverse;
    }

    &-t {
      align-items: flex-start;
    }
    &-r {
      justify-content: flex-end;
    }
    &-b {
      align-items: flex-end;
    }
    &-l {
      justify-content: flex-start;
    }

    &-h {
      justify-content: center;
    }
    &-v {
      align-items: center;
    }
  }

  // Flex Columns
  &col {
    display: flex;
    flex-direction: column;

    &-reverse {
      flex-direction: column-reverse;
    }

    &-t {
      justify-content: flex-start;
    }
    &-r {
      align-items: flex-end;
    }
    &-b {
      justify-content: flex-end;
    }
    &-l {
      align-items: flex-start;
    }

    &-h {
      align-items: center;
    }
    &-v {
      justify-content: center;
    }
  }
}