/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| UTILITY: Color
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/



/* === text === */

.dark {
  color: $dark;
}

.light {
  color: $text_color_off;
}

.white {
  color: $white;
}

.text-color {
  color: $text_color;
}

.heading-color {
  color: $heading_color;
}

.heading-color-alt {
  color: $heading_color_alt;
}

.link-color {
  color: $link_color;
}



/* === border === */

.border-white {
  border-color: $white;
}

.border-text-color {
  border-color: $text_color;
}

.border-primary-color {
  border-color: $primary;
}

.border-accent-color {
  border-color: $accent;
}



/* === svg === */

.fill-white {
  fill: $white;
}

.fill-text-color {
  fill: $text_color;
}

.fill-primary-color {
  fill: $primary;
}

.fill-accent-color {
  fill: $accent;
}



/* === BACKGROUND COLORS === */


.bg-white {
  background-color: $white;
}

.bg-off-white {
  background-color: $off_white;
}

.bg-gray {
  background-color: $grey;
}

.bg-off-black {
  background-color: $off_black;
}

.bg-primary-color {
  background-color: $primary;
}

.bg-accent-color {
  background-color: $accent;
}