/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| UTILITY: Extention
|––––––––––––––––––––––––––––––––––––––––––––––––––
|
| For when you want a box to continue outside its parent
|
*/

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

/* === for parent === */

.extend-t {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: unset;
    left: 0;
    transform: translateY(100%);
    content: '';
  }
}

.extend-r {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: unset;
    transform: translateX(100%);
    content: '';
  }
}

.extend-b {
  position: relative;

  &::before {
    position: absolute;
    top: unset;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateY(-100%);
    content: '';
  }
}

.extend-l {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    right: unset;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    content: '';
  }
}

/* === for child === */

.put-t {
  position: absolute;
  top: 0;
  bottom: 100%;
}

.put-r {
  position: absolute;
  right: 0;
  left: 100%;
}

.put-b {
  position: absolute;
  top: 100%;
  bottom: 0;
}

.put-l {
  position: absolute;
  right: 100%;
  left: 0;
}