/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| UTILITY: Text
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.size {
  font-size: 1rem;
}

@include makeAll( size, font-size, $spacing );

@include addBreakpoints() {
  &size {
    font-size: 1rem;
  }
  
  @include makeAllForBreakpoints( size, font-size, $spacing );
}

.f-16 {
  font-size: 16px;
}
.f-18 {
  font-size: 18px;
}
.f-20 {
  font-size: 20px;
}

.font-serif {
  font-family: $serif;
}

.font-sans {
  font-family: $sans_serif;
}

.font-mono {
  font-family: $monospace;
}

.letter-space {
  letter-spacing: 2px;
}

.letter-space-0 {
  letter-spacing: 0;
}

.uppercase {
  text-transform: uppercase;
}

.break-words {
  word-break: break-word;
  hyphens: auto;
}

/* === Vert Text Alignment === */
.midline {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.baseline {
  display: inline-flex;
  align-items: baseline;
  vertical-align: baseline;
}

/* === Horz Text Alignment === */

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

@include addBreakpoints() {
  &text-left {
    text-align: left;
  }
  &text-right {
    text-align: right;
  }
  &text-center {
    text-align: center;
  }
}
