/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| UTILITY: Text
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/



/* === THEME SIZES === */

.size {
  font-size: $space;
}

@include makeClasses( size, font-size, $spacing );

@include addBreakpointPrefixes() {
  &size {
    font-size: $space;
  }
  
  @include makeClassesForBreakpoints( size, font-size, $spacing );
}


/* === PIXEL SIZES === */

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}


/* === RELATIVE SIZES === */

.small {
  font-size: 0.8rem;
}

.smaller {
  font-size: 0.8em;
}

.large {
  font-size: 1.2rem;
}

.larger {
  font-size: 1.2em;
}

.bold {
  font-weight: 700;
}

.thin {
  font-weight: 300;
}


/* === FAMILIES === */

.font-serif {
  font-family: $serif;
}

.font-sans {
  font-family: $sans_serif;
}

.font-mono {
  font-family: $monospace;
}


/* === TEXT DECORATION === */

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.striketrough {
  text-decoration: line-through;
}

.highlight {
  background-color: $accent;
}


/* === LETTER ADJUSTMENTS === */

.letter-space {
  letter-spacing: 2px;
}

.letter-hug {
  letter-spacing: 0;
}

.break-words {
  word-break: break-word;
  hyphens: auto;
}

/* === Vert Text Alignment === */
.midline {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.baseline {
  display: inline-flex;
  align-items: baseline;
  vertical-align: baseline;
}

/* === Horz Text Alignment === */

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

@include addBreakpointPrefixes() {
  &text-left {
    text-align: left;
  }
  &text-right {
    text-align: right;
  }
  &text-center {
    text-align: center;
  }
}
