/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| UTILITY: Whitespace
|––––––––––––––––––––––––––––––––––––––––––––––––––
|
| Syntax
| [rule]-[direction]-[size] 
|
| size values are found in _variables.scss
|
| pad = padding
| mar = margin
|
| v = vertical
| h = horizontal
| t = top
| r = right
| b = bottom
| l = left
|
*/


/*
|–––––––––––––––––––––––––
| Padding
|–––––––––––––––––––––––––
*/

$padding_types: (
  'pad':   padding,
  'pad-v': padding-top padding-bottom,
  'pad-h': padding-right padding-left,
  'pad-t': padding-top,
  'pad-r': padding-right,
  'pad-b': padding-bottom,
  'pad-l': padding-left,
);

@include makeClassesFromListWithBreakpointsPrefixes( $padding_types, $space, $spacing );


/*
|–––––––––––––––––––––––––
| Margin
|–––––––––––––––––––––––––
*/

$margin_types: (
  'mar-t': margin-top,
  'mar-r': margin-right,
  'mar-b': margin-bottom,
  'mar-l': margin-left,
);

@include makeClassesFromListWithBreakpointsPrefixes( $margin_types, $space, $spacing );

@include makeClassWithBreakpointPrefixes( 'mar-t-auto' ) {
  margin-top: auto;
}
@include makeClassWithBreakpointPrefixes( 'mar-r-auto' ) {
  margin-right: auto;
}
@include makeClassWithBreakpointPrefixes( 'mar-b-auto' ) {
  margin-bottom: auto;
}
@include makeClassWithBreakpointPrefixes( 'mar-l-auto' ) {
  margin-left: auto;
}
