/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| UTILITY: WIDTH
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.no-shrink {
  flex: 0 0 auto;
}


/* ===== MAX WIDTHS ===== */

/* dynamic */
.mxw-copy {
  max-width: $copy_max;
}

.mxw-content {
  max-width: $content_max;
}

.mxw-site {
  max-width: $site_max;
}

/* static */
@include makeClasses( mxw, max-width, $max_widths );

@include addBreakpointPrefixes() {
  // DYNAMIC
  &mxw-copy {
    max-width: $copy_max;
  }
  &mxw-content {
    max-width: $content_max;
  }
  &mxw-site {
    max-width: $site_max;
  }

  // STATIC
  @include makeClassesForBreakpoints( mxw, max-width, $max_widths );
}



/* ===== WIDTHS ===== */

@include makeClasses( w, width, $widths );

@include addBreakpointPrefixes() {
  @include makeClassesForBreakpoints( w, width, $widths );
}


/* ===== FORCE FULL ===== */

// this one must be inside a centered container
.force-full {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  max-width: unset;
}