<section id="intro" class="post-intro {{ if featured_image }}has-image{{ /if }}">

	<div class="post-intro__accent"></div>

	<div class="post-intro__content frame gutter">
		<div class="inner column column-l">
			<h1 class="h1 text-color">{{ title }}</h1>
			{{ if author }}
			<div class="card row mar-t-md">
				{{ relate:author }}
				<figure class="no-shrink">
					<img src="{{ email | gravatar or profile_pic }}" alt="{{ name }}">
				</figure>
				<div class="column column-v pad-v-xs pad-h-md">
					<span class="heading large text-light">{{ name }}</span>
					<time class="small meta mar-t-xs">{{ date }}</time>
				</div>
				{{ /relate:author }}
			</div>
			{{ /if }}
			{{ if intro }}
			<div class="transcription markdown large mar-t-md">
				{{ intro }}
			</div>
			{{ /if }}
		</div>
	</div>

	{{ if featured_image }}
	<div class="post-intro__figure md:gutter">
		<div class="wrapper card">
			<div class="bg-img bg-ultra-wide" style="background-image: url('{{ featured_image }}');"></div>
		</div> 
	</div> <!-- END background-image -->
	{{ /if }}
	
</section> <!-- END post-intro -->