{{ partial src="banners/_banner" }}

<section class="frame gutter">
	<div class="wrapper">

		{{ partial src="_triangle_flower" }}
		
	</div>
</section>

<section class="section frame">
	<div class="section__column section__main trim bg:border-color">

		<div class="section__block gutter mar-t">
			<div class="section__wrap section__inner">

				<div class="pad inner bg:background-color">
					<h3 class="heading h3">Heading</h3>
				</div>

			</div>
		</div>

		<div class="section__block gutter mar-t">
			<div class="section__wrap section__inner">

				<div class="pad inner bg:background-color">
					<h3 class="heading h3">Heading</h3>
				</div>

			</div>
		</div>

	</div>
	<div class="section__column section__aside trim bg:border-color">

		<div class="section__block gutter mar-t">
			<div class="section__wrap section__inner">

				<div class="pad inner bg:background-color">
					<h3 class="heading h3">Heading</h3>
				</div>

			</div>
		</div>

		<div class="section__block gutter mar-t">
			<div class="section__wrap section__inner" >

				<div class="pad inner bg:background-color">
					<h3 class="heading h3">Heading</h3>
				</div>

			</div>
		</div>

	</div>
</section>

{{ sections }}

	{{ partial src="sections/_{type}" }}

{{ /sections }}