{{ partial src="banners/_banner" }}

<section class="frame gutter">
	<div class="wrapper">

		{{ partial src="_triangle_flower"}}
		
	</div>
</section>

<section class="section frame">
	<div class="section__column section__half trim bg:border-color">

		<div class="section__block gutter">
			<div class="section__wrap section__inner gutter bg:contrast" wrap="64rem" >

				<div class="pad-v-xl"></div>

			</div>
		</div>

		<div class="section__block gutter mar-t">
			<div class="section__wrap section__inner gutter bg:contrast" wrap="64rem" >

				<div class="pad-v-xl"></div>

			</div>
		</div>

	</div>
	<div class="section__column section__half trim bg:border-color">

		<div class="section__block gutter">
			<div class="section__wrap section__inner gutter bg:contrast" wrap="64rem">

				<div class="pad-v-xl"></div>

			</div>
		</div>

		<div class="section__block gutter mar-t">
			<div class="section__wrap section__inner gutter bg:contrast" wrap="64rem" >

				<div class="pad-v-xl"></div>

			</div>
		</div>

	</div>
</section>

{{ sections }}

	{{ partial src="sections/_{type}" }}

{{ /sections }}