/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Paragraph
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

p {
    margin: 0;
    line-height: 1.6;
    hyphens: none;
}

.Paragraph,
.Markup p {
    --lhc-height: var(--copy-line-height);
    --lhc-top: var(--copy-lhc-top);
    --lhc-bottom: var(--copy-lhc-bottom);
    max-width: var(--max-w-copy);
    line-height: var(--copy-line-height);
    letter-spacing: var(--copy-letter-spacing);
    font-size: var(--copy-font-size);
    font-weight: var(--copy-font-weight);
    font-family: var(--copy-font-family);
    color: var(--copy-color);
    hyphens: none;
}
